*.exe
*.sln
*.userprefs
*.dproj
*.obj
*.o
*.lib
*.a
common/.dub
node/.dub
node/dub.selections.json
node/src/chatfilter
node/src/commands
node/src/example
node/src/data.d
hub/.dub
hub/dub.selections.json

res/lang/system/es_ES.lang
res/lang/system/fur_IT.lang
