*.exe
*.sln
*.userprefs
*.dproj
*.obj
*.o
*.lib
*.a
*.selections.json
.dub
node/src/chatfilter
node/src/commands
node/src/example
node/src/data.d

res/lang/system/es_ES.lang
res/lang/system/fur_IT.lang
